/* ****************************

        Default Values

Font: Teko, sans serif

Colors:
1 Midnight Blue: #2c3e50;
2. Alizarin: #e74c3c;

**************************** */

/* -----------------------
        Basic Setup
----------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body{
    font-family: 'Teko', sans-serif;
}

li{    
    list-style: none;
    display: inline-block;
    
}

a{
    text-decoration: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

/* -----------------------
          Header
------------------------*/

body{
    background-color: #2c3e50;
}

header h1{
    text-align: center;
    color: #2c3e50;
    padding: 20px 0;
    font-size: 50px;
}

ul{
    font-size: 21px;
    text-decoration: underline;
}

/*Nav menu*/
.nav-menu{
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;
}

.nav-menu a{
    color: #2c3e50;
}

.nav-menu a:hover {
    color: #e74c3c;
}

.nav-menu li{
    padding: 20px;
}


/* -----------------------
      About Text
------------------------*/
.about-text{
    padding: 0 50px;
    
}

.about-text h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    color: #e74c3c;
    margin: 30;
}

.about-text p{
    font-weight: 400;
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 27px;
}

.about-text a{
    color: #e74c3c;
    font-weight: 700;
}

.about-text a:hover {
    color: #2c3e50;
    font-size: 25px;
}

/* -----------------------
      Show food
------------------------*/
.show-food{
    margin-top: 80px;
    padding: 0 50px;
}

.food{
    background-color: #2c3e50;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    color: #fff;
}

.food:nth-child(2){
    background-color: #e74c3c;
}

.food:nth-child(3){
    background-color: #2c3e50;
}

.food:nth-child(4){
    background-color: #e74c3c;
}

.food .food-text{
    padding: 20px;
}

.food img{
    height: 100%;
}
.eggs{
    padding-right: 10px;
    image-resolution: snap;
    
}
.ugali{
    font-size: 23px;
    font-weight: 300;
}
.food-text h2{
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.food-text p{
    font-weight: 300;   
    font-size: 21px;
}

.menu-text{
    font-weight: 300;   
    font-size: 27px;
}

.break{
    font-size: 47px;
    font-weight: 400;
}
/* -----------------------
        Tomato Image
------------------------*/
.Tomato Image{
    widows: 100%;
    margin: auto;
}
